/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  /* min-height: 100vh; */
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* End of reset               */
/* ------------------- */

/* ------------------- */
/* Global CSS */
/* ------------------- */

:root {
  --yellow-color: #f2cb05;
  --light-orange-color: #f29f05;
  --orange-color: #f28705;
  --red-color: #f23e2e;
  --dark-grey-color: #484241;
  --light-grey: #f2f2f2;
  --background-color: #f2f2f2;
  --text-color: #484241;
  --link-color: #0066cc;
  --hover-color: #004d99;
  --font-family: "raleway", sans-serif;
  --heading-font-family: "rubik", sans-serif;
  --heading-font-weight: "900";

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

p {
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
}

/* ------------------- */
/* --- "Debugging" CSS */
/* ------------------- */

/* div {
  border: 1px solid red;
}
nav {
  border: 1px solid blue;
}
main {
  border: 1px solid green;
}

h1 {
  border: 1px solid rgb(219, 37, 177);
}

h2 {
  border: 1px solid rgb(21, 98, 31);
}

p {
  border: 1px solid rgb(210, 176, 23);
}

a {
  border: 1px solid rgb(219, 37, 177);
} */
